# Build output
bin/
obj/
/packages/
*.dll
*.pdb

# Visual Studio user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.csproj.user
*.xaml.cache
.vs/

# JetBrains Rider
.idea/
riderModule.iml
/_ReSharper.Caches/
*.DotSettings
*.DotSettings.user

# Secrets
.env
